<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-add_game.css') }}">
    <script src="https://kit.fontawesome.com/6ab0e5281f.js" crossorigin="anonymous"></script>
    <title>Game Library</title>
</head>
<body>
    <div class="container-fluid">
        <div class="links">
            <a href="/dashboard"><div class="btn btn-primary">Dashboard</div></a>
            <a href="/logout"><div class="btn btn-primary">Logout</div></a>
        </div>
        <div class="container">
            <div class="input-group">
                <form action="/get_games" method="post">
                    <h1>Find Games</h1>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="name" class="searchbar" placeholder="Search games">
                        <button type="submit" class="search_button">Search</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <li><img src="{{session.background_img_1}}" alt="RL Background Image"></li>
                    <li><h3>{{session.name_1}}</h3></li>
                    <!-- <li>Platforms: {{session.platform_pc_1}}, {{session.platform_xbox_1}}, {{session.platform_playstation_1}}, {{session.platform_nintendo_1}}</li> -->
                </div>
                <div class="col">
                    <li><img src="{{session.background_img_2}}" alt="RL Background Image"></li>
                    <li><h3>{{session.name_2}}</h3></li>
                    <!-- <li>Platforms: {{session.platform_pc_2}}, {{session.platform_xbox_2}}, {{session.platform_playstation_2}}, {{session.platform_nintendo_2}}</li> -->
                </div>
                <div class="col">
                    <li><img src="{{session.background_img_3}}" alt="RL Background Image"></li>
                    <li><h3>{{session.name_3}}</h3></li>
                    <!-- <li>Platforms: {{session.platform_pc_1}}, {{session.platform_xbox_1}}, {{session.platform_playstation_1}}, {{session.platform_nintendo_1}}</li> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>